In [1]:
import pandas as pd

# 1 Read in data queries from WRDS CRSP Daily Stock dataset

https://wrds-www.wharton.upenn.edu/pages/get-data/center-research-security-prices-crsp/annual-update/stock-security-files/daily-stock-file/

In [45]:
permno_ticker_data=pd.read_csv('raw_input.csv')
permno_ticker_data.drop(columns=['ACPERM','NWPERM'],inplace=True)

In [46]:
permno_ticker_data['enddate']=permno_ticker_data['date']

In [47]:
permno_ticker_data.head(5)

   PERMNO      date TICKER   enddate
0   10104  19930104   ORCL  19930104
1   10104  19930105   ORCL  19930105
2   10104  19930106   ORCL  19930106
3   10104  19930107   ORCL  19930107
4   10104  19930108   ORCL  19930108

# 2. Use groupby function to find occurence first and last

In [48]:
grouped=permno_ticker_data.groupby(['PERMNO','TICKER'])

In [53]:
grouped.agg({'date' : 'first', 'enddate' : 'last'}).rename(columns={'date':'startdate'})

               startdate   enddate
PERMNO TICKER
10104  ORCL     19930104  20211231
10107  MSFT     19930104  20211231
10145  ALD      19930104  19991201
       HON      19991202  20211231
10147  EMC      19930104  20160907
...                  ...       ...
91233  MA       20060525  20211231
92156  COV      20070702  20150127
92602  PM       20080331  20211231
92611  V        20080319  20211231
92655  UNH      19930104  20211231

[262 rows x 2 columns]

In [54]:
grouped.agg({'date' : 'first', 'enddate' : 'last'}).rename(columns={'date':'startdate'}).to_csv('permno_ticker_match.csv')